.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  width: 200px;
  height: 200px;
  margin: 20px auto 0;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 10px;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}
